
<div id="mainContent"> 
    <div id="welcomeHeader">
        <h1>Kellie Cakes</h1>
    </div>
   
    <div id="welcomeImage">
        <%= image_tag "IMG_0077.JPG"%>
    </div>
    <div id="welcomeBio">
    <p>
       <select class="form-control">
                    <option>Select</option>
                    <option>Wedding Cakes</option>
                    <option>Birthday cakes</option>
                    <option>Speciality Cakes</option>
                    <option>CupCakes</option>
                </select>
    </p>

    <p>Praesent non nisi ac erat tincidunt pretium nec vitae dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas bibendum vitae mi ac bibendum. Quisque congue maximus ante quis ultricies. Donec tempor quam sit amet pulvinar efficitur. Sed tempor purus id neque blandit, fermentum dictum elit tristique. Donec metus nulla, maximus sit amet luctus eget, porttitor nec ipsum. Etiam eu tincidunt nulla, et sagittis libero. Ut at tincidunt tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla non magna et tellus auctor sagittis eu id metus. Maecenas pretium hendrerit nunc. Praesent tortor tellus, dictum tincidunt rhoncus quis, laoreet ac nulla. Nulla mattis venenatis lorem, et faucibus metus faucibus nec.</p>
    </div>


</div>
