/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
    text-align: center;
    font-size: 600%;
   
}


body {
    font-family: 'Cookie', serif;
    font-size: 20px;
    padding-top: 80px;
    background-color: lavenderblush;
    background: url("stripe.png");

}

.navbar.navbar-default.navbar-fixed-top {
    height: 50px;
}

ul {
    list-style-type: none;
}

#new_pastry {
    border: 4px solid #E49994;
    padding: 15px;
    border-radius: 10px;
}

.welcomeImage {
    text-align: center;


}

.center {
    text-align: center;
    font-stretch: expanded;
}

.contact {
    text-align: right;

}

.info {
    text-align: right;
}

.item{
   /*disables white flash*/
   -webkit-transition: -webkit-transform .5s ease-in-out;
   -o-transition: -o-transform .5s ease-in-out;
   transition: transform .5s ease-in-out;
}

